<div class="section-inner">
    <div class="row justify-content-center">
        <div class="col-md-8 wide-col-laptop">
            <div class="title-block animate" data-animate="fadeInUp" *ngFor="let h of heading">
                <span>{{h.title}}</span>
                <h2>{{h.h2text}}</h2>
            </div>
            <div class="gallery-section">
                <div class="gallery-list owl-carousel" >
                    <div class="item animate" data-animate="fadeInUp" *ngFor="let image of imagearray" >
                        <div class="portfolio-item">
                            <div class="thumb" >
                                <img src="{{image.image}}" alt="">
                            </div>
                            <div class="thumb-inner animate" data-animate="fadeInUp" >
                                <h4>{{image.h4}}</h4>
                                <p>{{image.p}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>