
    
    
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
           <app-header></app-header>
        </header>

        <video autoplay muted loop id="myVideo">
          <source src="assets/images/video-bg.mp4" type="video/mp4">
        </video>

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row">
                <app-home></app-home>
            </div>

            <div class="section animated-row">
                <app-aboutme></app-aboutme>
            </div>

            <div class="section animated-row" data-section="slide03">
                <app-services></app-services>
            </div>

            <div class="section animated-row" data-section="slide04">
                <app-my-skills></app-my-skills>
            </div>

            <div class="section animated-row" data-section="slide06">
                <app-my-work></app-my-work>
            </div>

            <div class="section animated-row" data-section="slide05">
                <app-testimonials></app-testimonials>
            </div>

            <div class="section animated-row" data-section="slide07">
                <app-contact></app-contact>
            </div>
        </div>

        <app-socialmedia></app-socialmedia>

    </div>  

    
