<div class="section-inner">
    <div class="row justify-content-center">
        <div class="col-md-8 wide-col-laptop">
             <div class="title-block animate" data-animate="fadeInUp" *ngFor="let s of services">
                <span>{{s.title}}</span>
                <h2>{{s.h2text}}</h2>
            </div>
            <div class="services-section">
                <div class="services-list owl-carousel">
                    <div class="item animate" data-animate="fadeInUp" *ngFor="let b of h3">
                        <div class="service-box">
                            <span class="service-icon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                            <h3>{{b.class}}</h3>
                            <p>{{b.content}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>