<div id="social-icons">
    <div class="text-right">
        <ul class="social-icons" >
           <li *ngFor="let socialicon of socialmediaArray"><a href="{{socialicon.href}}" target="{{socialicon.target}}"  title="{{socialicon.title}}"><i class="{{socialicon.class}}"></i></a></li>
            <!-- <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" title="Linkedin" ><i class="fa fa-linkedin"></i></a></li>
             <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" 
                target="_blank" 
                title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;" title="Linkedin" ><i class="fa fa-linkedin"></i></a></li> -->
            <!--<li><a href="#" title="Instagram"><i class="fa fa-behance"></i></a></li> -->
        </ul>
    </div>
</div>