<div class="section-inner">
    <div class="welcome-box" >
        <span *ngFor="let data of centerArray" class="{{data.class}}" data-animate="fadeInUp">{{data.title}}</span>
        <h1 *ngFor="let data of centertitle" class="{{data.class}}" data-animate="fadeInUp">{{data.title}}</h1>
        <p *ngFor="let data of centercontext" class="{{data.title}}" data-animate="fadeInUp">{{data.title}}</p>
        <div *ngFor="let data of divtext" class="{{data.class}}" data-animate="fadeInUp"><img src="{{data.src}}" alt=""><span>{{data.title}}</span></div>
    </div>
</div>